<br>
  <div class="container">
    <h2>Sign up!</h2>
    <form [formGroup]="registerForm">
    <label for="fname">First name: </label>
    <input class="form-control" formControlName="AccountFirstName" type="text" name="fname" [(ngModel)]="AccountFirstName" value="" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountFirstName']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountFirstName']?.errors?.['required']">
        <p>It is required to fill in your first name.</p>
      </span>
      <span class="error" *ngIf="registerForm.controls?.['AccountFirstName']?.errors?.['minlength']">
        <p>Your first name needs to be at least two characters long.</p>
      </span>
    </div>
    <label for="lname">Last name: </label>
    <input class="form-control" formControlName="AccountLastName" type="text" name="lname" [(ngModel)]="AccountLastName" value="" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountLastName']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountLastName']?.errors?.['required']">
        <p>It is required to fill in your last name.</p>
      </span>
      <span class="error" *ngIf="registerForm.controls?.['AccountLastName']?.errors?.['minlength']">
        <p>Your last name needs to be at least two characters long.</p>
      </span>
    </div>
    <br>
    <label for="bdate">Birth date: </label>
    <input class="form-control" formControlName="AccountBirthDate" type="date" name="bdate" [(ngModel)]="AccountBirthDate" value="" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountBirthDate']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountBirthDate']?.errors?.['required']">
        <p>It is required to fill in your birth date.</p>
      </span>
    </div>
    <br>
    <label for="email">E-mail: </label>
    <input class="form-control" formControlName="AccountEmail" type="email" name="email" [(ngModel)]="AccountEmail" value="" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountEmail']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountEmail']?.errors?.['required']">
        <p>It is required to fill in your e-mailaddress.</p>
      </span>
      <span class="error" *ngIf="registerForm.controls?.['AccountEmail']?.errors?.['email']">
        <p>It is required to fill in a correct e-mailaddress.</p>
      </span>
    </div>
    <br>
    <label for="password">Password: </label>
    <input class="form-control" formControlName="AccountPassword" id="password" type="password" name="password" [(ngModel)]="AccountPassword" value="" required minlength="8">
    <div class="input-error" *ngIf="registerForm.controls?.['AccountPassword']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountPassword']?.errors?.['required']">
        It is required to fill in your password.
      </span>
      <span class="error" *ngIf="registerForm.controls?.['AccountPassword']?.errors?.['minlength']">
        <p>Your password needs to be at least 8 characters long.</p>
      </span>
    </div>
    <label for="password">Confirm your password: </label>
    <input class="form-control" formControlName="AccountPasswordConfirmation" id="password2" type="password" name="password" value="" required min="8">
    <div class="input-error" *ngIf="registerForm.controls?.['AccountPasswordConfirmation']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountPasswordConfirmation']?.errors?.['required']">
        <p>You have to confirm your password.</p>
      </span>
      <span class="error" *ngIf="registerForm.errors?.['passwordmatcherror']">
        <p>Your passwords do not match.</p> 
      </span>
    </div>
    <p id="message"></p>
    <br>
    <p><b>Adress: </b></p>
    <br>
    <input class="form-control" formControlName="AccountAddressStreet" type="text" name="street" placeholder="Street" [(ngModel)]="AccountAddressStreet" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountAddressStreet']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountAddressStreet']?.errors?.['required']">
        <p>It is required to fill in your street.</p> 
      </span>
    </div>
    <input class="form-control" formControlName="AccountAddressStreetNumber" type="text" name="streetnr" placeholder="Streetnumber" [(ngModel)]="AccountAddressStreetNumber" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountAddressStreetNumber']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountAddressStreetNumber']?.errors?.['required']">
        <p>It is required to fill in your housenumber.</p> 
      </span>
    </div>
    <br>
    <input class="form-control" formControlName="AccountAddressCity" type="text" name="city" placeholder="City" [(ngModel)]="AccountAddressCity" required minlength="2">
    <div class="input-error" *ngIf="registerForm.controls?.['AccountAddressCity']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountAddressCity']?.errors?.['required']">
       <p> It is required to fill in your city.</p>
      </span>
    </div>
    <input class="form-control" formControlName="AccountAddressPostalCode" type="number" name="postcode" placeholder="Postal code" [(ngModel)]="AccountAddressPostalCode" required
      min="1000" max="9999">
      <div class="input-error" *ngIf="registerForm.controls?.['AccountAddressPostalCode']?.touched">
        <span class="error" *ngIf="registerForm.controls?.['AccountAddressPostalCode']?.errors?.['required']">
          <p>It is required to fill in your postal code.</p> 
        </span>
      </div>
    <br>
    <br>
    <input class="form-control" formControlName="AccountAddressCountry" type="text" name="country" placeholder="Country" [(ngModel)]="AccountAddressCountry" required>
    <div class="input-error" *ngIf="registerForm.controls?.['AccountAddressCountry']?.touched">
      <span class="error" *ngIf="registerForm.controls?.['AccountAddressCountry']?.errors?.['required']">
        <p>It is required to fill in your country.</p> 
      </span>
    </div>
    <br>
    <br>
      <button id="registerbutton" type="submit" (click)="addAccount()" class="btn btn-primary"> Register </button>
      <br>
    <br>
  </form>
  
  </div>
  <br>
  <br>