<br>
<h3>New items</h3>

<div class="carousel-container">
    <button (click)="prevPage()" class="arrow-button left-arrow">&#9664;</button>

  <div class="item-container">
    <div *ngFor="let item of filteredItemList(); let i = index" class="item-box" [routerLink]="['/items', item.ItemId]" [ngClass]="{'hidden': i < (currentPage - 1) * itemsPerPage || i >= currentPage * itemsPerPage}">
        <div class="box">
      
          <ng-container *ngIf="itemHasImage(item)">
            <img id="show-item-image" [src]="service.APIUrl + filterImage(item.ItemId).Image" alt="Item Image">
          </ng-container>
          <ng-container *ngIf="!itemHasImage(item)">
            <img src="../../../assets/images/no-picture.jpg" alt="Placeholder Image">
          </ng-container>
      
          <div class="item-details">
            <p class="brand">{{ item.ItemBrand }}</p>
            <strong>{{ item.ItemName }}</strong>
            
            <div class="rating-and-price">
              <p class="price"> {{ item.ItemPrice | currency:'EUR' }}</p>
              <ng-container *ngIf="item.ItemRating === 1">
                <img src="../../assets/images/1 star.png" alt="1 Star" class="rating-image">
              </ng-container>
              <ng-container *ngIf="item.ItemRating === 2">
                <img src="../../assets/images/2 stars.png" alt="2 Stars" class="rating-image">
              </ng-container>
              <ng-container *ngIf="item.ItemRating === 3">
                <img src="../../assets/images/3 stars.png" alt="3 Stars" class="rating-image">
              </ng-container>
              <ng-container *ngIf="item.ItemRating === 4">
                <img src="../../assets/images/4 stars.png" alt="4 Stars" class="rating-image">
              </ng-container>
              <ng-container *ngIf="item.ItemRating === 5">
                <img src="../../assets/images/5 stars.png" alt="5 Stars" class="rating-image">
              </ng-container>
              
            </div>
            </div>
          </div>
    </div>
  </div>
  <button (click)="nextPage()" class="arrow-button right-arrow">&#9654;</button>
</div>
<br>
<br>