<div class="context">
  <div class="row">
    <div class="column">
      <div class="item">
        <div class="show-article">
          <div id="itemCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let img of ImagesList; let i = index" class="carousel-item" [class.active]="i === 0">
                <img class="d-block w-100" [src]="service.APIUrl + img.Image" alt="Item Image">
              </div>
            </div>
            <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="item-details">
            <br>
            <h1 class="item-information">{{ItemName}}</h1>
            <h2 class="item-information">{{'€' + ItemPrice.toString()}}</h2>

            <div class="description">
              <br>
              <h4><strong>Description</strong></h4>
              <p>{{ItemDetails}}</p>
              <br>
            </div>

            <button type="button" (click)="AddItemToCart()">Add to cart</button>
            <button type="button" (click)="ClearCart()">[DEBUG] clear cart</button>

          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="column">

      <div class="reviews">
        <br>
        <h4><strong>Reviews</strong></h4>

        <ng-container *ngIf="ReviewList.length > 0; else noReviews">
          <div *ngFor="let review of ReviewList" class="review-item">
            <span class="profile-picture">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </span>

            <div class="review-content">
              <p><strong>{{ review.ReviewerName }}</strong></p>
              <p>{{ review.Rating }} stars</p>
              <p>{{ review.ReviewText }}</p>
            </div>
          </div>
        </ng-container>

        <ng-template #noReviews>
          <p>No reviews yet for this product. Be the first one to give your opinion!</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
