<div class="context">
  <div class="row">
    <div class="column">
      <div class="item">
        <div class="show-article">
          <div id="itemCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let img of ImagesList; let i = index" class="carousel-item" [class.active]="i === 0">
                <img class="d-block w-100" [src]="img.src + img.Image" alt="Item Image">
              </div>
            </div>
            <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="item-details">
            <br>
            <h1 class="item-information">{{ItemName}}</h1>
            <h2 class="item-information">{{'€' + ItemPrice.toString()}}</h2>

            <div class="description">
              <ng-container *ngIf="ItemState === 2">
                <p>Seller: getSeller(ItemSeller)</p>
                getSeller(ItemSeller)
              </ng-container>
              <br>
              <h4><strong>Description</strong></h4>
              <p>{{ItemDetails}}</p>
              <br>
            </div>

            <button type="button" (click)="AddItemToCart()">Add to cart</button>
            <button type="button" (click)="ClearCart()">[DEBUG] clear cart</button>

          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="reviews">
        <br>
        <h4><strong>Reviews</strong></h4>

        <ng-container *ngIf="ReviewList.length > 0; else noReviews">
          <div *ngFor="let review of ReviewList" class="review-item">
            <span class="profile-picture">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </span>

            <div class="review-content">
              <p><strong>{{ review.ReviewerName }}</strong></p>

              <ng-container *ngIf="review.Rating === 1">
                <img src="../../assets/images/1 star.png" alt="1 Star" style="width: 125px; height: 25px;">
              </ng-container>
              <ng-container *ngIf="review.Rating === 2">
                <img src="../../assets/images/2 stars.png" alt="2 Stars" style="width: 125px; height: 25px;">
              </ng-container>
              <ng-container *ngIf="review.Rating === 3">
                <img src="../../assets/images/3 stars.png" alt="3 Stars" style="width: 125px; height: 25px;">
              </ng-container>
              <ng-container *ngIf="review.Rating === 4">
                <img src="../../assets/images/4 stars.png" alt="4 Stars" style="width: 125px; height: 25px;">
              </ng-container>
              <ng-container *ngIf="review.Rating === 5">
                <img src="../../assets/images/5 stars.png" alt="5 Stars" style="width: 125px; height: 25px;">
              </ng-container>

              <p>{{ review.ReviewText }}</p>
            </div>
          </div>
        </ng-container>

        <ng-template #noReviews>
          <p>No reviews yet for this product. Be the first one to give your opinion!</p>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="make-review">
    <p>Did you buy this item? Please leave a review to help out other customers.</p>
    <div class="form-group row col-sm-10">
            <div class="form-floating">
              <label>Rating (1 to 5)</label>
            <input class="form-control" type="number" min=1 max=5 [(ngModel)]="Rating">
          </div>
          <div class="form-floating">
            <label>Review</label>
            <textarea class="form-control" [(ngModel)]="ReviewText" style="height: 100px"></textarea>
          </div>
      </div>
    <button type="button" (click)="submitReview()">
        Submit Review <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
    </button>
</div>

</div>
