    <!DOCTYPE html>
    <html lang="en">
    <body>
        
    <h1><img id="profile-pic" src="assets/images/no_profilpic.png" width="125" height="125"></h1>
    <br>
    <div class="forms">
    <form class="account_form">
        <label for="fname">First name: </label>
        <input type="text" name="fname" value="" required>
        <label for="lname">Last name: </label>
        <input type="text" name="lname" value="" required>
        <br>
        <br>
        <label for="bdate">Birth date: </label>
        <input type="date" name="bdate" value="" required>
        <br>
        <br>
        <label for="email">E-mail: </label>
        <input type="email" name="email" value="" required>
        <br>
        <br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" value="" required minlength="8">
        <label for="password">Confirm your password: </label>
        <input id="password2" type="password" name="password" value="" required min="8">
        <p id="message"></p>
        <br>
        <br>
        <p><b>Adress: </b></p>
        <br>
        <input type="text" name="street" placeholder="Street" required>
        <input type="text" name="streetnr" placeholder="Streetnumber" required>
        <br>
        <br>
        <input type="text" name="city" placeholder="City" required minlength="2">
        <input type="number" name="postcode" placeholder="Postal code" required min="1000" max="9999">
        <br>
        <br>
        <input type="text" name="country" placeholder="Country" required>
    </form>
</div>
</body>
</html>