.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .item-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(20% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .item-box h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .item-box p {
    margin: 5px 0;
  }
  
  .item-box a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease
  }
  
  .item-box a:hover {
    color: #555;
  }
  
  .item-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
  
  .item-box:hover {
    transform: scale(1.05);
  }
  
  
  .item-box .brand {
    font-size: 14px;
    margin: 0;
  }

  .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  .add-item-button{
    display: flex;
    justify-content: end;
  }

  .item-overview{
    text-align: left;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .add-item-button {
    top: 0;
    right: 0;
    margin: 10px; /* Optional margin for spacing */
  }

  .add-item-button button {
    background-color: #8ABCD7; /* Button background color */
    color: #ffffff; /* Text color */
    border: 1px solid #8ABCD7; /* Border color */
    padding: 8px 16px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  
    /* Optional: Adjust the styles based on your design preferences */
  }
  
  .add-item-button button:hover {
    background-color: #34495e; /* Darker background color on hover */
  }