<div class="context">
    
    <form class="new_article" action="">
        <label for="new_article_name"> Name of product: </label>
        <input type="text" name="" id="new_article_name">
        <br>
        <label for="price_article"> Price: </label>
        <input type="number" name="" id="">
        <label for="new_article_type">Type of article: 
        <input type="radio" name="new_article_type" id="new_product">
        New Product
        <input type="radio" name="new_article_type" id="old_product">
        Second Hand Product
        </label>
        <br>
        <label for="new_article_category">Category: </label>
        <select name="" id="new_article_category">
            <option value="">Clothes</option>
            <option value="">Books</option>
            <option value="">House Products</option>
            <option value="">Movies</option>
            <option value="">Electronics</option>
            <option value="">School Supplies</option>
            <option value="">Toys</option>
            <option value="">Tools</option>
            <option value="">Food</option>
        </select>
        <br>
        <label for="new_article_description">Description: </label>
        <br>
        <textarea name="" id="new_article_description" cols="50" rows="10"></textarea>
        <br>
        <input type="submit" name="" id="" value="Add Article">
    </form>
    
  </div>