.context .catalog-bar{
    background-color: #8ABCD7;
    position: fixed;
    overflow: visible;
    z-index: 999;
    padding: 0;
    margin: 0;
    
}
.context .catalog-bar a{
    color: #fff;
    text-decoration: none;
}



.context .catalog-bar ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 999;
    justify-content: space-evenly;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 1px solid #12263A;
    left: 0;
    height: 100%;
}

.context .catalog-bar div{
    border-bottom: 1px solid #12263A;
}

.context .catalog-bar div:last-child{
    border-bottom: none;
}

.context .catalog-bar ul li:hover{
    background-color: #12263A;
}

.context .catalog-bar li a{
    display: block;
    width: 200px;
}

.context .catalog-bar .active{
    background-color: #12263A;
}

.catalog{
  display: flex;
  flex-direction: column;
}

.category-articles{
  margin-left: 250px;
  flex-flow: column;
}

.popular{
  text-align: center;
  font-weight: bolder;
  background-color: #61d0958f;
  width: 100%;
  height: 325px;
  display: inline-block;
}

.popular-product{
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.popular h3{
  text-align: center;
  font-weight: bold;
  color: #12263A;
}

.popular-product a{
  text-align: center;
  font-weight: bold;
  color: #12263A;
}

.popular-product img{
  border: #12263A solid 2px;
  max-width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}
