@import '~leaflet/dist/leaflet.css';


/* Size of the peyment method icons */
.payment-method-image {
    max-width: 50px;
    max-height: 50px;
}

/* Border of the canvas */
#custom-message-canvas {
    border:2px solid #000000;
}

/* To hide canvas (default radio is no message) */
#canvas-div{
    display: none;
}

.checkout-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.shopping-cart-summary {
    flex: 1;
    margin-right: 50px;
}

.payment {
    flex: 1;
    max-width: 300px;
    margin-left: 50px;
}

#first-row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-item-align: auto;
}

