<h3>Categories</h3>
<div class="bubbles">
    <div class="bubble-container" *ngFor="let category of CategoryList" [routerLink]="['/items', category.ItemCategoryID]">
      <div class="bubble">
        <div class="bubble-image">
          <img src="../../assets/images/aardbei.jpg" alt="{{ category.ItemCategoryName }}" >
        </div>
        <div class="text-container">
          <h2>{{ category.ItemCategoryName }}</h2>
          <h3>{{ category.ItemCategoryID }}</h3>
        </div>
      </div>
    </div>
  </div>
  