.bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bubble {
  max-width: 200px;
  min-width: 150px;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.bubble:hover {
  transform: scale(1.10);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bubble:active {
  transform: scale(0.95);
}

.bubble-image img {
  max-width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.bubble:hover .bubble-image img {
  transform: scale(1.15);
}

.text-container {
  margin-top: auto;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.bubble:hover .text-container {
  color: #8ABCD7;
}

@media only screen and (min-width: 768px) {
  .bubble {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media only screen and (min-width: 1200px) {
  .bubble {
    flex: 0 0 calc(25% - 20px);
  }
}

@media only screen and (max-width: 599px) {
  .bubble {
    flex: 0 0 calc(50% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  .bubble {
    flex: 0 0 calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .bubble {
    flex: 0 0 calc(100% - 20px);
  }
}
