.bubbles {
  display: flex;
  justify-content: space-around;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bubble {
  width: calc(45% - 20px);
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  flex: 0 0 calc(45% - 20px);
  overflow: hidden;
}

.bubble:hover {
  transform: scale(1.10);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bubble:active {
  transform: scale(0.95);
}

.bubble-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.bubble:hover .bubble-image img {
  transform: scale(1.15);
}

.text-container {
  margin-top: auto;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.bubble:hover .text-container {
  color: #8ABCD7;
}
