<head>
    <script src="login.js"></script>
</head>

<div class="context">
    <h2>Do you already have an account?</h2>
    <br>
    <br>
    <form class="login" action="index.html" method="get">

        <label for="email">E-mail: </label>
        <input type="email" name="e-mail" class="input_text" required>
        <br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" class="input_text" required>
        <button type="button" id="showToggle">Show/Hide Password</button>
        <br>
        <a href="forgot-password/forgot-password.component.html">Forgot your password?</a>
        <p></p>
        <input id="login_button" type="submit" name="" value="Log in">

    </form>
    <br>
    <div class="anker">
        <a href="../register/register.component.html" class="button">Do you not have an account yet?</a>
    </div>
</div>