
<div class="container">
    <h2>Log In</h2>
    <br>
    <br>
    <form [formGroup]="loginForm" class="login">
       
        <label>E-mail: </label>
        <input type="email" name="e-mail" class="input_text" [(ngModel)]="AccountEmail" formControlName="AccountEmail" required>
        <div class="input-error" *ngIf="loginForm.controls?.['AccountEmail']?.touched">
            <span class="error" *ngIf="loginForm.controls?.['AccountEmail']?.errors?.['required']">
              <p>It is required to fill in your emailaddress.</p>
            </span>
            <span class="error" *ngIf="loginForm.controls?.['AccountEmail']?.errors?.['email']">
                <p>This is not a valid emailaddress.</p>
            </span>
          </div>
        <br>
        <label>Password: </label>
        <input id="password" type="password" name="password" class="input_text" [(ngModel)]="AccountPassword" formControlName="AccountPassword" required>
        <div class="input-error" *ngIf="loginForm.controls?.['AccountPassword']?.touched">
            <span class="error" *ngIf="loginForm.controls?.['AccountPassword']?.errors?.['required']">
              <p>It is required to fill in your password.</p>
            </span>
          </div>
          <br><br>
        <div class="buttons">
          <div>
            <br>
            Do you not have an account yet? <a [routerLink]="['/register']">Click here to register.</a>
          </div>
          
        <div class="button-space"></div>
        <button class="loginbutton" type="submit" (click)="login()" [disabled]="!loginForm.valid">Log In</button>
        </div>
    </form>
    <br>
    
</div>
