<p>Do you have a complaint about Omnicart, a specific item or a recent purchase?
We understand that this might be frustrating. Please fill the form and we will handle your complaint as quickly as possible.</p>
<div class="form-group row col-sm-10">
    <div class="form-floating">
        <input type="number" min="0" class="form-control" [(ngModel)]="ItemId">
        <label>Associated ItemId (optional)</label>
       </div>
    <div class="form-floating">
        <input type="number" min="0" class="form-control" [(ngModel)]="PurchaseId">
        <label>Associated PurchaseId (optional)</label>
    </div>
      <div class="form-floating">
        <textarea class="form-control" [(ngModel)]="ComplaintText" style="height: 100px"></textarea>
        <label>Complaint</label>
      </div>

<button class="btn btn-primary" (click)="submitComplaint()">
    <!-- ADD ICON -->
    Submit Complaint <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
</button>

</div>
<p>You find below an overview of the complaints you have submitted.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Submit Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Associated Item</th>
            <th>Associated Purchase</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let dataItem of ComplaintList">
          <td>{{(dataItem.Submit_date)  | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{dataItem.Description}}</td>
          <td>{{dataItem.Status}}</td>
          <td *ngIf="dataItem.Item !== null"><a [routerLink]="['/item', dataItem.Item]">{{dataItem.ItemName  || 'N/A'}}</a></td>
          <td *ngIf="dataItem.Item == null">{{dataItem.ItemName  || 'N/A'}}</td>
          <td>{{dataItem.Purchase  || 'N/A'}}</td>
        </tr>
    </tbody>
</table>

