<div class="context">
  <h1>Omnipoints</h1>

  <p>Your Omnipoints: <strong>{{ currentAccount?.AccountPoints }}</strong></p>

  <div class="omnipointsButtons">
    <div class="pointsSelection">
      <p>Select a voucher</p>
      <div class="pointsOption" (click)="redeemPoints(100)">100 points</div>
      <div class="pointsOption" (click)="redeemPoints(200)">200 points</div>
      <div class="pointsOption" (click)="redeemPoints(300)">300 points</div>
      <div class="pointsOption" (click)="redeemPoints(400)">400 points</div>
    </div>
    <br>

    <ng-container *ngIf="lastClickedPoints !== null && !checkAccountPoints(lastClickedPoints)">
      <p>Not enough Omnipoints for {{ lastClickedPoints }} this voucher...</p>
    </ng-container>

    <div class="vouchersButtons">
      <table class="vouchers">
        <thead>
          <tr>
            <th>Your vouchers</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="currentAccount?.AccountVouchers && currentAccount?.AccountVouchers.length > 0; else noVouchers">
            <tr *ngFor="let voucher of currentAccount?.AccountVouchers">
              <td>{{ voucher.Amount }} <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"></td>
              <td><button type="button">Redeem</button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <ng-template #noVouchers>
        <p>You currently have no vouchers.</p>
      </ng-template>
    </div>
  </div>
</div>
