<div class="context">
           
    <h1> <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"> Omnipoints</h1>
    
   <div class="omnipointsButtons">
    <div class="vouchersButtons">
    <table class="vouchers">
      <tr>
        <td><button type="submit"> 100 <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"> </button></td>
        <td><button type="submit"> 200 <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"> </button></td>
      </tr>
      <tr>
        <td><button type="submit"> 300 <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"> </button></td>
        <td><button type="submit"> 400 <img src="assets/images/Omnipoints.png" alt="" width="30" height="30"> </button></td>
      </tr>
    </table>
  </div>
    <br>
    <br>
  <div class="moreInfo">
    <form action="More_Information.html" method="post">
      <input type="submit" name="More Information" value="More Information?">
    </form>
  </div>
  </div>
</div>
