<div>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="test"
        class="m-1 btn btn-light btn-outline-primary" Button>Account TEST</button>
      </li>
    
      <li class="nav-item">
        <button routerLink="overview"
        class="m-1 btn btn-light btn-outline-primary" Button>Account overview</button>
      </li>

      <li class="nav-item">
        <button routerLink="points"
        class="m-1 btn btn-light btn-outline-primary" Button>Account points</button>
      </li>

      <li class="nav-item">
        <button routerLink="preferences"
        class="m-1 btn btn-light btn-outline-primary" Button>Account preferences</button>
      </li>

      <li class="nav-item">
        <button routerLink="settings"
        class="m-1 btn btn-light btn-outline-primary" Button>Account settings</button>
      </li>

      <li class="nav-item">
        <button routerLink="orders"
        class="m-1 btn btn-light btn-outline-primary" Button>Account orders</button>
      </li>

      <li class="nav-item">
        <button routerLink="complaints"
        class="m-1 btn btn-light btn-outline-primary" Button>Account complaints</button>
      </li>
    
      <!-- Add other pages -->
      <!-- <li class="nav-item">
        <button routerLink="account"
        class="m-1 btn btn-light btn-outline-primary" Button></button>
      </li> -->

      </ul>
    </nav>


    <router-outlet></router-outlet>

  </div>