<div class="container">
  <nav class="navbar navbar-expand-sm bg-light navbar-dark vertical-navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="overview" class="m-1 btn btn-light btn-outline-primary" Button>Overview</button>
      </li>
      <li class="nav-item">
        <button routerLink="points" class="m-1 btn btn-light btn-outline-primary" Button>Omnipoints</button>
      </li>
      <li class="nav-item">
        <button routerLink="orders" class="m-1 btn btn-light btn-outline-primary" Button>My orders</button>
      </li>
      <li class="nav-item">
        <button routerLink="customer-service" class="m-1 btn btn-light btn-outline-primary" Button>My complaints</button>
      </li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
