body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .vertical-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .nav-item {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn {
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .btn-light {
    background-color: #8ABCD7;
    color: white;
    border: 1px solid #8ABCD7;
  }
  
  .btn-light:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  .btn-outline-primary {
    background-color: transparent;
    color: #8ABCD7;
    border: 1px solid #8ABCD7;
  }
  
  .btn-outline-primary:hover {
    background-color: #8ABCD7;
    color: white;
  }
  
  .content {
    padding: 20px;
  }
  
  