
/* GENERAL */

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat/Montserrat.ttf') format('ttf'), /* Modern Browsers */
         url('../assets/fonts/montserrat/Montserrat.ttf') format('ttf'); /* Legacy Browsers */
    /* You can include more font formats if necessary (e.g., .ttf, .otf) */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.content-container{
    margin-top: 100px;
}

/* NAVIGATION BAR */
  .navbar{
    display: flex;
    list-style-type: none;
    z-index: 999;
    justify-content: space-evenly;
  }

  .container-fluid{
    background-color: #8ABCD7;
    position: fixed;
    overflow: visible;
    z-index: 999;
  }


  .topnav{
    display: flex;

  }

  .navright{
  display: flex;
  align-items: center;
  }


/* LOGO */
  .logo{
    margin-left: 0;
  }

/* SEARCH BAR */
  #searchbar{
            width: 30vw;
            height: 4.5vh;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            -ms-border-radius: 60px;
            -o-border-radius: 60px;
            border-radius: 60px;
            border: white solid 7px;
          }

/* PROFILE */
  .dropbtn {
      /* z-index: 999; */
      background-color: #8ABCD7;
      padding: 16px;
      font-size: 16px;
      border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      /* z-index: 999; */
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #FFFFFF;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

/* LANGUAGE SWITCH */
  .switch {
              position: relative;
              display: inline-block;
              margin: 0 5px;
          }

  .switch>span {
              position: absolute;
              top: 10px;
              pointer-events: none;
              font-family: 'Helvetica', Arial, sans-serif;
              font-weight: bold;
              font-size: 12px;
              text-transform: uppercase;
              text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
              width: 50%;
              text-align: center;
      }

  input.check-toggle-round-flat:checked~.off {
          color: #8ABCD7;
      }

  input.check-toggle-round-flat:checked~.on {
          color: #fff;
      }

  .switch>span.on {
          left: 0;
          padding-left: 2px;
          color: #8ABCD7;
      }

  .switch>span.off {
          right: 0;
          padding-right: 4px;
          color: #fff;
      }

  .check-toggle {
          position: absolute;
          margin-left: -9999px;
          visibility: hidden;
      }

  .check-toggle+label {
          display: block;
          position: relative;
          cursor: pointer;
          outline: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
      }

  input.check-toggle-round-flat+label {
          padding: 2px;
          width: 97px;
          height: 35px;
          background-color: #8ABCD7;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
          border-radius: 60px;
      }

  input.check-toggle-round-flat+label:before,
  input.check-toggle-round-flat+label:after {
          display: block;
          position: absolute;
          content: "";
      }

  input.check-toggle-round-flat+label:before {
          top: 2px;
          left: 2px;
          bottom: 2px;
          right: 2px;
          background-color: #8ABCD7;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
          border-radius: 60px;
      }

  input.check-toggle-round-flat+label:after {
          top: 4px;
          left: 4px;
          bottom: 4px;
          width: 48px;
          background-color: #fff;
          -webkit-border-radius: 52px;
          -moz-border-radius: 52px;
          -ms-border-radius: 52px;
          -o-border-radius: 52px;
          border-radius: 52px;
          -webkit-transition: margin 0.2s;
          -moz-transition: margin 0.2s;
          -o-transition: margin 0.2s;
          transition: margin 0.2s;
      }

  input.check-toggle-round-flat:checked+label {}

  input.check-toggle-round-flat:checked+label:after {
          margin-left: 44px;
      }

/* REST OF THE WEBSITE */

.context{
  padding-top: 120px;
  margin-left: 8vw;
  margin-right: 8vw;
}

h2{
    font-weight: bold;
    color: #12263A;
}

input[type=submit], .context button, .context .button{
    color: white;
    width: 100%;
    font-weight: bold;
    -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
      border: #12263A solid 7px;
      background-color: #12263A;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:unset;
  }

input[type=submit]:hover, .context button:hover, .context .button:hover{
    background-color: #6e8499;
    border: #6e8499 solid 7px;
}  

.context .button{
    text-decoration: none;
}

#carouselExampleIndicators{
    margin: auto;
    max-width: 350px;
    max-height: 350px;
}