<div class="all-elements">
  <div class="catalog-and-slider">
    <div class="catalog-bar">
      <ul>
        <div *ngFor="let category of CategoryList" class="category">
          <div class="category-selection">
            <button class="category-button" (click)="onCategoryClick(category.ItemCategoryId)">
              {{ category.ItemCategoryName }}
            </button>
          </div>

          <div class="item-containers">
            <app-item-category [category]="category"></app-item-category>
          </div>
        </div>
      </ul>
    </div>
    <br>

    <div class="slidecontainer">
      <input type="range" min="0" [max]="maxPrice" [(ngModel)]="selectedValue" class="slider" id="myRange" (change)="filterItemsByPrice()">
      <p>Maximum Price: {{ selectedValue }}</p>
    </div>
  </div>
</div>
