.all-elements {
  display: flex;
}

.catalog-bar {
  background-color: #8ABCD7;

  overflow: visible;
  z-index: 999;
  padding: 0;
  margin: 0;
  margin-left: 0;
  width: 200px;
  color: #ecf0f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: width 0.3s ease; /* Add transition for smooth effect */
}

.catalog-bar:hover {
  width: 220px; /* Adjust the width on hover */
}

.catalog-bar a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
}

.catalog-bar a:hover {
  background-color: #34495e;
  color: #fff;
}

.catalog-bar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  z-index: 999;
  justify-content: space-evenly;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 1px solid #34495e;
  left: 0;
  height: 100%;
}

.catalog-bar div {
  border-bottom: 1px solid #34495e;
}

.catalog-bar div:last-child {
  border-bottom: none;
}

.catalog-bar ul li:hover {
  background-color: #34495e;
}

.catalog-bar li a {
  width: 100%;
}

.catalog-bar .active {
  background-color: #34495e;
  color: #fff;
}

.category-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.item-container {
  /* Adjust margin for space after widening */
  margin-left: 220px;
  padding: 20px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px; /* Adjust margin for space after widening */
  padding: 20px;
}

.item-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(20% - 20px); /* Adjust width based on total width */
  box-shadow: 0 4px 8px
  rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.item-box h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.item-box p {
  margin: 5px 0;
}

.item-box a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.item-box a:hover {
  color: #555;
}

.item-box img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.item-box:hover {
  transform: scale(1.05);
}

.item-box .brand {
  font-size: 14px;
  margin: 0;
}

/* Add these styles to your component's CSS file */

.slidecontainer {
  width: 80%;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8ABCD7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8ABCD7;
  cursor: pointer;
}


.brand{
  text-align: left;
}

.rating-and-price{
  display: flex;
  flex-direction: row;
  text-align: left;
}