.bubbles {
    display: flex;
    justify-content: space-around;
  }
  
  .bubble-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bubble {
    width: calc(60% - 20px); /* Adjust the percentage as needed */
    margin: 10px;
    padding: 20px; /* Increased padding for larger bubbles */
    background-color: #f0f0f0;
    border-radius: 20px; /* Increased border-radius for a softer look */
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 0 0 calc(60% - 20px); /* Ensure two items per row */
  }
  
  .bubble:hover {
    transform: scale(1.10); /* Slightly larger on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .bubble:active {
    transform: scale(0.95);
  }
  
  .bubble-image img {
    max-width: 100%;
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .bubble:hover .bubble-image img {
    transform: scale(1.10);
  }
  
  .text-container {
    margin-top: 20px; /* Adjusted margin for better spacing */
    transition: color 0.3s ease-in-out;
  }
  
  .bubble:hover .text-container {
    color: #ff4500; /* Change the color on hover */
  }
  